#form{

  font-family:'Lato';
  font-size:2em;
  color:#f0f8ff;
  background:linear-gradient(var(--navy-blue1a), var(--navy-blue2a)),
  url('../public/money-falling.jpg');
  padding:0px 1.5%;
  overflow: auto;
  padding-bottom:50px;
}

#form > div{
  padding: 30px 0;
  
}
.text-field-div input{
  width:50%;
  border-radius:10px;
  background:transparent;
  border:2px solid var(--green1);
  color:#808080;
  font-size:90%;
  padding:8px;
}
.text-field-div input:focus{
  outline:3px solid var(--green1);
  color:#e0e8ef;
}
/* difficulty */
.difficulty-img{
  border-radius:50%;
  opacity:0.5;
  transition:0.5s;
}
.difficulty-img:hover{
  transition: 0.6s;
  border-radius:10%;
  opacity:1;
}

.radio-field-div{
  position:relative;
}
.container{
  /* position:absolute; */
  display:flex;
  justify-content:space-evenly;
  width:100%;
}
.container input[type='radio']{
  /* display:none; */
  height:10px;
  width:6%;
  transition:1s;
  appearance: none;
}

.container label:hover{
  cursor:pointer;
}
.container label{
  position:relative;
  color:#808080;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:33.3%;
  font-size:2.5rem;
  
}

.container input[type='radio']:checked{
  width:80%;
  opacity:0.7;
  background-color:var(--green1);
  transition:1s;
}

.category-div{
  position:relative;
}
.container2{
  
  display:flex;
  justify-content:space-evenly;
  top:100%;
  width:100%;
}
.container2 input[type='radio']{
  
  height:10px;
  width:6%;
  transition:1s;
  appearance: none;
}
.container2 label:hover{
  cursor:pointer;
}
.container2 label{
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:calc(100%/6);
  
}
.container2 p{
  border-radius:50px;
  background:var(--navy-blue1);
  color:var(--light-gray);
  font-size:1rem;
  text-overflow: ellipsis;
  text-align:center;
  padding:10px 0px;
  width:100%;
}

.container2 input[type='radio']:checked{
  width:80%;
  margin-top:2%;
  opacity:0.7;
  background-color:var(--green1);
  transition:1s;
}

/* BUTTON */
.play-button-div{
  position:relative;
  padding:80px;
  height:100px;
}
#play-button{
  background:radial-gradient(var(--navy-blue1) ,var(--navy-blue2));
  color:aliceblue;
  letter-spacing: 1px;
  position:absolute;
  left:50%;
  top:70%;
  transform: translate(-70%,-50%);
  padding:20px;
  transition:0.3s;
  animation-name: bounce;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  
  }
  #start-button:hover{
    padding: 25px;
    transition:0.3s;
    letter-spacing: 2px;
    font-size:17px;
    }
  
  @keyframes bounce{
    0%{
      top:80%;
      transform:translate(-70%,-50%);
      
    }
    50%{
      top:79%;
      transform:translateX(-69%);
      
    }
    100%{
      top:80%;
      transform:translate(-70%,-50%);
      
    }
  }
/* =================POP UP COMPONENT================== */
.pop-up-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius:20px;
  padding:12px;
  box-shadow: 1px 1px 10px white;
  background-color: azure;
  text-align:center;
}
.pop-up-heading{
  text-align:center;
  font-weight:550;
  font-size:28px;
  letter-spacing:2px;  
}
.pop-up-heading2{
  font-size:22px;
  padding:12px 0px;
}
.pop-up-heading2 + div{
  font-size:18px;
  line-height:1.5;
}
.pop-up-button-div{
  justify-content:center;
  padding:12px 0px;
}
.pop-up-button-div > *{
  margin:0 2%;
  padding:18px 24px;;
}
/*=================POP UP COMPONENT================== */

  /* FOR MOBILE  RESPONSIVNESS */
  @media (max-width:700px){
    #form{
      font-size:2em;
      padding:0 2%;
    }
    .text-field-div input{
      font-size:1em;
    }
  }