@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
:root{
  --navy-blue1:#27285C;
  --navy-blue1a:rgba(39, 40, 92, 0.7);
  --navy-blue2a:rgba(34,73,82,0.7);
  --navy-blue2:#224952;
  --green1:#2E8B57;
  
}
body{
  font-family: 'Lato',sans-serif;
}
#background-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}